body {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: din-round,sans-serif; */
  
}

.home, .dashboard {
    display: block;
    text-align: center;
    justify-content: center;
}
.charts1 {
    display: block;
    text-align: center;
}
.charts2 {
    display: block;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-align: center;

    align-items: center;
    justify-content: center;
}





body {
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(47, 85, 255);
}
h1{
  text-align: center;
  margin-left: 7vw;
  margin-right: 10vw;
  font-size: 3rem;
  color: black;
  margin-top: 10vh;
  margin-bottom: 7vh;
}


section{
  display: flex;
  padding: 10vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-right : 10vw;
  margin-left :10vw;
}
article{
   
  flex:1;
  padding: 1rem;
  margin: 0.5rem;
  background-color:white;
  border-radius: 1rem;
}



.V1,.V2,.V3,.V4{
 /*  position: relative;  */ 
  padding: 10vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-right : 7vw;
  margin-left :10vw;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  
}

.V5{
  padding: 40vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-right : 10vw;
  margin-left :10vw;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
}

.signup form, .login form{
  padding: 20vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-right : 7vw;
  margin-left : 10vw;
  background-color: white;
  font-size: 2rem;
  text-align: center; 
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
}

input[type=text], input[type=password]{
  width: 100%;
  padding: 1.5vh 1vh;
  margin: 7px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.103) 
}

